<html lang="en">

<head>
    <title>Kho Hàng</title>
    <link rel="stylesheet" href="styles.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        body {
            font-family: 'Arial', sans-serif;
        }

        .table td {
            vertical-align: middle;
            font-size: 15px;
        }

        .table .table-actions a {
            margin-right: 5px;
        }

        .btn-cf {
            outline: unset !important;
        }

        .mess {
            position: relative;
            display: inline-block;
        }

        .mess::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 1px;
            background-color: white;
            transition: width 0.5s ease-in-out;
        }

        .mess:hover::after {
            width: 100%;
        }


        .highcharts-data-table table {
            min-width: 320px;
            max-width: 800px;
            height: 400px;
            margin: 1em auto;
        }

        .box-size-table {
            display: flex;
            align-items: center;
            justify-content: end;
            padding: 0 7px;
            width: 100%;
        }

        .text-box-size-table {
            font-size: 16px;
            font-weight: 600;
            margin-right: 8px;
        }

        .box-arrow {
            display: flex;
            width: 10%;
            justify-content: space-around;
        }

        .box-extra-arrow {
            padding: 6px;
            border: 0.5px solid;
            cursor: pointer;
            margin-right: 2px;
        }

        .box-extra-arrow:hover {
            background: #dedede
        }

        .box-table {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }

        .background_status {
            background: #E4E5E8FF;
        }

        .display_Block {
            display: block !important;
        }

        .check_Status {
            display: none;
            padding: 0 8px;
        }


        .box-Main {
            background: white;
            margin: 14px 8px;
            width: 99%;
            height: 96%;
        }

        .box-Main-Status {
            width: 100%;
            height: 6%;
        }

        .box-status {
            display: flex;
            height: 100%;
            justify-content: space-between;
        }

        .box-text-Status {
            display: flex;
        }

        .buttom-status {
            height: 100%;
            padding: 0 8px;
        }

        .text-sizse-color {
            color: white;
        }

        .margin-text-Status {
            margin: 0 10px;
        }

        .box-text-Status-extra {
            height: 7%;
            padding: 0 10px;
            display: flex;
            align-items: center;
        }

        .text-Status {
            color: #1307ef;
            font-family: sans-serif;
        }

        .box-order {
            width: 100%;
            height: 100%;
        }

        .box-Main-order {
            width: 100%;
            height: 87%;
        }

        .body-Main {
            display: flex;
            width: 100%;
            height: 100%;
        }

        .box-Main-One {
            width: 17%;
            height: 100%;
            background-color: rgba(49, 46, 129, var(--tw-bg-opacity));
            display: flex;
            flex-direction: column;
        }

        .box-Text-Title {
            background-color: rgba(55, 48, 163, var(--tw-bg-opacity));
            height: 13%;
            width: 100%;
        }

        .text-Title {
            color: white;
            font-size: 24px;
            padding: 24px;
            font-family: sans-serif;
            font-weight: 600;
        }

        .box-Main-Two {
            width: 84%;
            height: 100%;
        }

        .box-Main-Extra {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .box-infomation {
            width: 100%;
            height: 11%;
        }

        .information {
            display: flex;
            height: 100%;
            width: 100%;
            justify-content: space-between;
            padding: 0 18px;
            background: white;
            align-items: center;
        }

        .information-Admin {
            display: flex;
            width: 8%;
            justify-content: space-between;
            align-items: center;
        }

        .link-a:hover {
            text-decoration: none;
        }

        .link-a {
            color: black;
            font-size: 16px;
            font-family: sans-serif;
        }

        .box-order-Main {
            width: 100%;
            height: 89%;
        }

        .table-order {
            width: 100%;
            height: 87%;
        }

        .item-click {
            height: 87%;
            width: 100%;
        }

        .load-Spinner {
            padding: 20%;
            width: 100%;
            text-align: center;
        }

        .display_None {
            display: none;
        }

        .icon_thaoTac {
            width: 29px;
            cursor: pointer;
        }

        .textUser {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .card-body-product {
            height: 89%;
        }

        .card-search {
            width: 76%;
        }

        .search-container {
            float: left;
            justify-content: space-between;
            line-height: 30px;
            width: 100%;
        }

        .search-input {
            flex: 1;
            margin-right: 10px;
            border: 1px dotted #525659;
            border-radius: 5px;
            padding: 5px;
        }


        .imgShowDetail {
            width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
            margin-bottom: 10px;
        }

        .textShowDetail {
            font-weight: bold;
        }

        .box-extra-one {
            display: flex;
            justify-content: space-between;
        }

        .img-box-Detail {
            width: 44%;
            height: 100%;
        }

        .box-text-information {
            width: 55%;
            /* text-align: unset; */
        }

        .box-connect {
            margin: 7px;
        }

        .th-No {
            width: 55px;
            text-align: center;
        }

        .text_Align {
            padding: 4px 14px;
            text-align: center;
        }

        .table td {
            padding: 5px !important;
            vertical-align: middle !important;
        }

        .th-Status {
            width: 200px;
            text-align: center;
        }

        .th-Username {
            width: 300px;
            text-align: center;
        }

        .filter-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
        }
    </style>
</head>

<body class="bg-gray-200">
    <div id="dataALL">
        <div class="body-Main">
            <div class="box-Main-One">
                <div class="box-Text-Title">
                    <div class="text-Title">Shop BipBip</div>
                </div>
                <div class="item-click">
                    <a href="/statistic" class=" cursor-pointer mess ml-3 mt-3 w-10/12" style="text-decoration: none ">
                        <div class="flex" style=" padding: 12px;">
                            <div>
                                <img class="w-5 h-5" src="analytics.png" alt="">
                            </div>
                            <div class="mx-3 text-sm text-gray-100 ">Thống kê</div>
                        </div>
                    </a>
                    <a href="/home" class=" cursor-pointer mess ml-3 mt-3 w-10/12"
                        style="display: flex;text-decoration: none ">
                        <div class="flex" style=" padding: 12px;">
                            <div>
                                <img class="w-5 h-5" src="dashboard.png" alt="">
                            </div>
                            <div class="mx-3 text-sm text-gray-100 ">Đơn Hàng</div>
                        </div>
                        <span class="badge" style="color: white;font-size: 14px;">\{{donHangMoi}}</span>
                    </a>
                    <a href="/mess" class="cursor-pointer mess ml-3 mt-3 w-10/12"
                        style="display: flex; text-decoration: none">
                        <div class="flex" style="padding: 12px;">
                            <div>
                                <img class="w-5 h-5 " src="messages.png" alt="">
                            </div>
                            <div class="mx-3 text-sm text-gray-100 ">Tin Nhắn</div>
                        </div>
                        <span class="badge" style="color: white;font-size: 14px;">\{{tinNhanMoi}}</span>
                    </a>
                    <a href="/notifications" class="cursor-pointer mess ml-3 mt-3 w-10/12"
                        style="text-decoration: none">
                        <div class="flex" style=" padding: 12px;">
                            <div>
                                <img class="w-5 h-5" src="notifications.png" alt="">
                            </div>
                            <div class="mx-3 text-sm text-gray-100">Thông báo</div>
                        </div>
                    </a>
                    <a href="/accountManagement" class="cursor-pointer mess ml-3 mt-3 w-10/12"
                        style="display: flex; text-decoration: none">
                        <div class="flex" style="padding: 12px;">
                            <div>
                                <img class="w-5 h-5 " src="iconuser.png" alt="">
                            </div>
                            <div class="mx-3 text-sm text-gray-100 ">Quản Lý người dùng</div>
                        </div>
                    </a>
                    <a href="/customer" class="cursor-pointer mess ml-3 mt-3 w-10/12"
                        style="display: flex; border-bottom-width: 1px; text-decoration: none">
                        <div class="flex" style="padding: 12px;">
                            <div>
                                <img class="w-5 h-5 " src="nhansu.png" alt="">
                            </div>
                            <div class="mx-3 text-sm text-gray-100 ">Danh Sách Nhân Sự</div>
                        </div>
                    </a>
                    <a href="/warehouse" class="cursor-pointer mess ml-3 mt-3 w-10/12" style="text-decoration: none">
                        <div class="flex" style=" padding: 12px;">
                            <div>
                                <img class="w-5 h-5" src="kho.svg" alt="">
                            </div>
                            <div class="mx-3 text-sm text-gray-100">Kho Hàng</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="box-Main-Two">
                <div class="box-Main-Extra">
                    <div class="box-infomation">
                        <div class="information">
                            <div class="information-Admin">
                                <img src="person.png" class="w-10 h-10" alt="">
                                <span>Admin</span>
                            </div>
                            <div>
                                <a class="link-a" href="/logout">Đăng xuất</a>
                            </div>
                        </div>
                    </div>

                    <div class="box-order-Main">
                        <div>
                            <div class="box-Main">
                                <div class="box-data">
                                    <div class="filter-container">
                                        <input type="text" class="search-input" id="searchInput"
                                            placeholder="Tìm kiếm...">
                                        <button style="background-color: #ff0000;" class="btn btn-primary"
                                            onclick="redirectToRegister()">Tạo
                                            tài khoản nhân viên</button>
                                    </div>
                                    <hr>


                                    <div class="card-body-product">
                                        <div style="height: 93%;padding: 8px 24px;">
                                            <table class="table table-bordered ">
                                                <thead>
                                                    <tr>
                                                        <th class="th-No">STT</th>
                                                        <th scope="col">ID</th>
                                                        <th style="text-align: center;">Email</th>
                                                        <th class="th-Status">Chức Vụ</th>
                                                        <th style="text-align: center;">Ngày Làm Việc</th>
                                                        <th style="text-align: center;">Thao tác</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each users}}
                                                    <tr>
                                                        <td>{{@index}}</td>
                                                        <td>{{_id}}</td>
                                                        <td>{{username}}</td>
                                                        <td>{{level}}</td>
                                                        <td style="text-align: center;">{{workDateRange.start}} -
                                                            {{workDateRange.end}}</td>
                                                        <td class="action-buttons" style="margin-left: 30px;">
                                                            <button class="btn btn-primary"
                                                                onclick="showWorkDateModal('{{_id}}', '{{workDateRange.start}}', '{{workDateRange.end}}')">
                                                                <i class="fas fa-calendar"></i> Xếp Lịch
                                                            </button>


                                                            <button class="btn btn-danger"
                                                                onclick="deleteUser('{{_id}}')">
                                                                <i class="fas fa-trash"></i> Xóa Tài Khoản
                                                            </button>

                                                        </td>
                                                    </tr>
                                                    {{/each}}
                                                </tbody>
                                            </table>
                                        </div>
                                        {{!-- <div class="box-size-table" v-if="toatalWare > 10">
                                            <div class="text-box-size-table">\{{sizeTable(indexSize)}} của tổng số
                                                \{{toatalWare}}</div>
                                            <div class="box-arrow">
                                                <div class="box-extra-arrow" @click="backSize(dataUserAll)">
                                                    <img src="next.png" style="width: 24px" alt="">
                                                </div>
                                                <div class="box-extra-arrow" @click="arrowBackSize(dataUserAll)">
                                                    <img src="back-arrow.png" style="width: 24px" alt="">
                                                </div>
                                                <div class="box-extra-arrow" @click="arrowNextSize(dataUserAll)">
                                                    <img src="right-arrow.png" style="width: 24px" alt="">
                                                </div>
                                                <div class="box-extra-arrow" @click="nextSize(dataUserAll)">
                                                    <img src="back.png" style="width: 24px" alt="">
                                                </div>
                                            </div>
                                        </div> --}}

                                    </div>
                                </div>
                                <div class="modal fade" id="workDateModal" tabindex="-1" role="dialog"
                                    aria-labelledby="workDateModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="workDateModalLabel">Phân Ngày Làm Việc</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Đóng">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="workDateForm">
                                                    <div class="form-group">
                                                        <label for="newWorkDateStart">Ngày Bắt Đầu:</label>
                                                        <input type="date" id="newWorkDateStart" class="form-control"
                                                            name="newWorkDateStart">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="newWorkDateEnd">Ngày Kết Thúc:</label>
                                                        <input type="date" id="newWorkDateEnd" class="form-control"
                                                            name="newWorkDateEnd">
                                                    </div>
                                                    <input type="hidden" id="modalUserIdInput" name="modalUserIdInput">
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Đóng</button>
                                                <button type="button" class="btn btn-primary"
                                                    onclick="updateWorkDates()">Lưu</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script>
    function deleteUser(userId) {
        if (confirm('Bạn có chắc chắn muốn xóa tài khoản này không?')) {
            fetch(`/deleteUser/${userId}`, {
                method: 'DELETE',
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Xóa tài khoản thành công');
                        window.location.href = '/customer';
                    } else {
                        alert('Xóa tài khoản thất bại');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    }
</script>

<script>
    function showWorkDateModal(userId, workDateStart, workDateEnd) {
        $('#workDateModal').modal('show');
        document.getElementById('modalUserIdInput').value = userId;
        document.getElementById('newWorkDateStart').value = workDateStart || '';
        document.getElementById('newWorkDateEnd').value = workDateEnd || '';
    }

    function updateWorkDates() {
        const userId = document.getElementById('modalUserIdInput').value;
        const workDateStart = document.getElementById('newWorkDateStart').value;
        const workDateEnd = document.getElementById('newWorkDateEnd').value;

        const formattedStartDate = formatDate(workDateStart);
        const formattedEndDate = formatDate(workDateEnd);

        if (!formattedStartDate || !formattedEndDate) {
            alert('Ngày không hợp lệ');
            return;
        }

        const data = {
            workDateStart: formattedStartDate,
            workDateEnd: formattedEndDate,
        };

        fetch(`/updateWorkDates/${userId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Cập nhật ngày làm việc thành công');
                    $('#workDateModal').modal('hide');
                    window.location.href = '/customer';
                } else {
                    alert('Cập nhật ngày làm việc thất bại');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function formatDate(dateString) {
        const momentDate = moment(dateString, 'YYYY-MM-DD');
        return momentDate.format('DD/MM/YYYY');
    }


</script>


<script>
    function redirectToRegister() {
        window.location.href = '/login';
    }
</script>
<script>
    function showUserDetails(userId) {
        fetch(`/customer/${userId}`)
            .then(response => response.json())
            .then(userData => {
                populateUserDetailsModal(userData);
            })
            .catch(error => {
                console.error('Error:', error);
                $('#userDetailsModal').modal('show');
            });
    }
    function populateUserDetailsModal(userData) {
        document.getElementById('modalUserId').innerText = userData._id || 'Không có dữ liệu';
        document.getElementById('modalFullname').innerText = userData.profile.fullname || 'Không có dữ liệu';
        document.getElementById('modalGender').innerText = userData.profile.gender || 'Không có dữ liệu';
        document.getElementById('modalBirthday').innerText = userData.profile.birthday || 'Không có dữ liệu';
        document.getElementById('modalUsername').innerText = userData.profile.username || 'Không có dữ liệu';
        document.getElementById('modalPhone').innerText = userData.address.phone || 'Không có dữ liệu';
        document.getElementById('modalAddress').innerText = userData.address.address || 'Không có dữ liệu';

        var avatarImageElement = document.getElementById('modalAvatarImage');
        if (userData.profile && userData.profile.avatar) {
            avatarImageElement.setAttribute('src', userData.profile.avatar);
            avatarImageElement.setAttribute('alt', 'Avatar');
        } else {
            avatarImageElement.setAttribute('src', 'https://bazanxanh.com/wp-content/themes/travel/images/no-image.jpg');
            avatarImageElement.setAttribute('alt', 'Default Avatar');
        }


        if (userData.profile.birthday) {
            document.getElementById('modalBirthday').innerText = userData.profile.birthday;
        } else {
            document.getElementById('modalBirthday').innerText = 'Không có dữ liệu';
        }
        if (userData.profile.gender) {
            document.getElementById('modalGender').innerText = userData.profile.gender;
        } else {
            document.getElementById('modalGender').innerText = 'Không có dữ liệu';
        }
        if (userData.profile.fullname) {
            document.getElementById('modalFullname').innerText = userData.profile.fullname;
        } else {
            document.getElementById('modalFullname').innerText = 'Không có dữ liệu';
        }

        if (userData.profile.username) {
            document.getElementById('modalUsername').innerText = userData.profile.username;
        } else {
            document.getElementById('modalUsername').innerText = 'Không có dữ liệu';
        }

        if (userData.address.phone) {
            document.getElementById('modalPhone').innerText = userData.address.phone;
        } else {
            document.getElementById('modalPhone').innerText = 'Không có dữ liệu';
        }

        if (userData.address && userData.address.address) {
            document.getElementById('modalAddress').innerText = userData.address.address;
        } else {
            document.getElementById('modalAddress').innerText = 'Không có dữ liệu';
        }
        $('#userDetailsModal').modal('show');
    }
</script>

<script>
    const vm = new Vue({
        el: '#dataALL',
        data: {
            tinNhanMoi: 0,
            donHangMoi: 0,
        },
        methods: {
            GetDataCart: function () {
                return new Promise((resolve, reject) => {
                    fetch('/loadDataChoXacNhan', {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                    })
                        .then(response => response.json())
                        .then(data => {
                            resolve(data.length);
                        })
                        .catch(error => {
                            reject(error);
                        });
                });
            },
            GetAllDataChat: function () {
                return new Promise((resolve, reject) => {
                    fetch('/chatAllShop', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                        .then(response => response.json())
                        .then(data => {
                            const sortedData = data.sort((a, b) => {
                                if (a.status === b.status) {
                                    return 0;
                                }
                                return a.status ? -1 : 1;
                            });
                            resolve(sortedData.filter(item => item.status === true).length);
                        })
                        .catch(error => {
                            reject(error);
                        });
                });
            },
        },
        mounted() {
            this.GetDataCart()
                .then(count => {
                    this.donHangMoi = count;
                })
                .catch(error => {
                    console.error(error);
                });

            this.GetAllDataChat()
                .then(count => {
                    this.tinNhanMoi = count;
                })
                .catch(error => {
                    console.error(error);
                });
        },
    });

    function setUserId(userId) {
        document.getElementById('modalUserId').innerText = userId;
        document.getElementById('modalUserIdInput').value = userId;
    }

    function submitBlockForm() {
        var blockReason = document.getElementById('blockReason').value;
        var userId = document.getElementById('modalUserId').innerText;
        document.getElementById('modalUserIdInput').value = userId;
        document.getElementById('blockForm').submit();
    }

    document.getElementById('searchInput').addEventListener('input', function () {
        var filter = this.value.toLowerCase();
        var rows = document.querySelectorAll('tbody tr');

        rows.forEach(function (row) {
            var text = row.innerText.toLowerCase();
            row.style.display = text.includes(filter) ? '' : 'none';
        });
    });

    var searchInput = document.getElementById('searchInput');

    var statusFilter = document.getElementById('statusFilter');

    function filterRows() {
        var filter = searchInput.value.toLowerCase();
        var selectedStatus = statusFilter.value;

        var rows = document.querySelectorAll('tbody tr');

        rows.forEach(function (row) {
            var text = row.innerText.toLowerCase();
            var status = row.querySelector('.action-buttons button').innerText.toLowerCase();
            var shouldDisplay = text.includes(filter) && (
                (selectedStatus === 'allUsers') ||
                (selectedStatus === 'bannedUsers' && status.includes('mở chặn')) ||
                (selectedStatus === 'unbannedUsers' && status.includes('chặn'))
            );

            row.style.display = shouldDisplay ? '' : 'none';
        });
    }

    statusFilter.addEventListener('change', filterRows);

    searchInput.addEventListener('input', filterRows);
</script>

</html>